<div class="jumbotron">
  <div class="row">
    <div class="col-xs-6">
      <h1>Pets, Reimagined</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

      <a href="<%= new_session_url %>" class="btn btn-primary">Get Started!</a>
    </div>

    <div class="col-xs-6 col-xs-push-0">
      <div class="list-group">
        <ul>
          <li class="list-group-item">
            <h3>Like Pets</h3>
            <p>You have control over the pets you like.</p>
          </li>
          <li class="list-group-item">
            <h3>No Monthly Fees</h3>
            <p>We don't crimp your pet-loving with such mundane things.</p>
          </li>
          <li class="list-group-item">
            <h3>Access Pets Anywhere</h3>
            <p>Always be a click away from cute pictures of your favorite pets.</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="row text-center">
  <h1>Meet The Team</h1>
  <div class="col-xs-3">
    <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcQAtWT5K7Hzcb2_5PHkB5YMpM5ADvyYj0Uilqxautx7pnSWbSwj" class="img-circle img-responsive">

    <h2><%= @staff[0].name %></h2>
    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur.</p>

  </div>
  <div class="col-xs-3">
    <img src="http://a4.files.biography.com/image/upload/c_fill,cs_srgb,dpr_1.0,g_face,h_300,q_80,w_300/MTE4MDAzNDEwMDU4NTc3NDIy.jpg" class="img-circle img-responsive">

    <h2><%= @staff[1].name %></h2>
    <p>Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Excepteur sint occaecat cupidatat non
    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>
  <div class="col-xs-3">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSr0Q_JiDCAa1TqxGklRSaXKoPvnlAwBJ2pfRbRio7At_6lfOv4SA" class="img-circle img-responsive">

    <h2><%= @staff[2].name %></h2>
    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>
  <div class="col-xs-3">
    <img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcSciYf3UfADKjqivR2GEa_uArCxyN9GM1qXucLKKalA5DeCsXGe" class="img-circle img-responsive">

    <h2><%= @staff[3].name %></h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua.</p>
  </div>
</div>