<!DOCTYPE html>
<html>
<head>
  <title>AuthDemo</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <%= nav_link("Home", home_url) %>
        <%= nav_link("About", about_url) %>
        <%= nav_link("Contact", contact_url) %>

        <% if logged_in? %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><%= current_user.username %> <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><%= nav_link("My Pets", user_url) %></li>
              <li><%= nav_link("All Pets", pets_url) %></li>
              <li class="divider"></li>
              <li><%= nav_link("Sign Out", session_url, :delete) %></li>
            </ul>
          </li>
        <% else %>
          <%= nav_link("Sign In", new_session_url) %>
          <%= nav_link("Sign Up", new_user_url) %>
        <% end %>
      </ul>
    </div>
  </div>
</nav>

<% if flash[:errors] %>
  <div class="alert alert-danger" role="alert">
    <% flash[:errors].each do |e| %>
      <%= e %>
    <% end %>
  </div>
<% elsif flash[:success] %>
  <div class="alert alert-success" role="alert">
    <% flash[:success].each do |e| %>
      <%= e %>
    <% end %>
  </div>
<% elsif flash[:notice] %>
  <div class="alert alert-info" role="alert">
    <% flash[:notice].each do |e| %>
      <%= e %>
    <% end %>
  </div>
<% end %>

<div class="container">
  <%= yield %>
</div>

</body>
</html>
