<% if cat.persisted? %>
<form action="<%= cat_url(cat) %>" method="post">
    <input name="_method" type="hidden" value="patch" />
<% else %>
<form action="<%= cats_url %>" method="post">
<% end %>
  <label for="cat_name">Name</label>
  <input type="text" name="cat[name]" id="cat_name" value="<%= cat.name %>">
  <br>

  <label for="cat_color">Color</label>
  <select name="cat[color]" id="cat_color">
    <option value=""></option>
    <% Cat.colors.each do |color| %>
      <option value="<%= color %>" <%= "selected" if color == cat.color %>>
        <%= color.capitalize %>
      </option>
    <% end %>
  </select>
  <br>

  <input type="radio" name="cat[sex]" id="cat_sex_male" value=m
  <%= "checked" if cat.sex == 'm' %>>
  <label for="cat_sex_male">Male</label>

  <input type="radio" name="cat[sex]" id="cat_sex_female" value=f
  <%= "checked" if cat.sex == 'f' %>>
  <label for="cat_sex_female">Female</label>
  <br>

  <label for="cat_description">Description</label>
  <br>
  <textarea rows="4" cols="50" name="cat[description]" id="cat_description">
<%= cat.description %></textarea>


  <br>

  <label for="cat_birth_date">Birth Date</lable>
  <input type="date" name="cat[birth_date]" id="cat_birth_date"
  value="<%=cat.birth_date.strftime('%Y-%m-%d') if cat.birth_date %>">
  <br>
  
  <% if cat.persisted? %>
    <input type="submit" value="Edit cat">
  <% else %>
    <input type="submit" value="Create cat">
  <% end %>

</form>
